@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/Menu.cshtml";
}


<div aria-labelledby="title">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/layout.css" rel="stylesheet" type="text/css" media="all">
    <center>
        <br /><br/>
              <div id="pageintro" class="hoc clear">
                  <article>
                      <p style="font-size:30px">Bienvenido !!</p>
                      <h2 style="color: #1947BA"> @ViewBag.codUsuario</h2>

                      <h3 class="heading">Área de Producción</h3>
                      <br />
                      <p>Del campo a tu mesa, el sabor de la naturaleza en cada sorbo</p>
                  </article>
                  <button hrfa="www.youtubr.com" type="submit" class="btn btn-outline-secondary">Ver mas...</button>
              </div>
    </center>




</div>
